{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark_mode.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav_sidebar.css' %}">
    <script src="{% static 'js/nav_sidebar.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <script src="{% static 'js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.init.js' %}"></script>
    <script src="{% static 'js/core.js' %}"></script>
    <script src="{% static 'js/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'js/actions.js' %}"></script>
    <script src="{% static 'js/urlify.js' %}"></script>
    <script src="{% static 'js/prepopulate.js' %}"></script>
    <script src="{% static 'js/vendor/xregexp/xregexp.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div id="header">
    <div id="branding">
        <h1 id="site-name"><a href="{% url 'home' %}">My Market</a></h1>
    </div>
    <div id="user-tools">
        <a href="{% url 'home' %}">Products</a> |
        <a href="#">Categories</a> |
        <a href="{% url 'add_product' %}">Add Product</a> |
        <a href="{% url 'add_category' %}">Add Category</a>
    </div>
</div>
<div class="breadcrumbs">
</div>
<div class="container">


    {% block content %}{% endblock content %}

</div>
</body>
</html>