{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark_mode.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav_sidebar.css' %}">
    <script src="{% static 'js/nav_sidebar.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <meta name="robots" content="NONE,NOARCHIVE">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="/">My Market</a></h1>
            </div>
            <div id="user-tools">
                <a href="#">Products</a> |
                <a href="#">Categories</a> |
                <a href="#">Add Product</a> |
                <a href="#">Add Category</a>
            </div>
        </div>
        <div class="breadcrumbs"></div>

        {% block content %}{% endblock content %}
    </div>
</body>
</html>