<!--{% extends 'base.html' %}-->
<!--{% block title %}Edit Category{% endblock title %}-->

<!--{% block content %}-->
<!--<form method="post" id="category_form" >-->
<!--    {% csrf_token %}-->
<!--    <input type="hidden" name='id' id="id" required value=" category.id ">-->

<!--    <div>-->
<!--        <fieldset class="module aligned ">-->
<!--            <div class="form-row field-category_name">-->
<!--                <div>-->
<!--                    <label class="required" for="id_category_name">Категория:</label>-->
<!--                    <input type="text" name="category_name" value="{{ category.category_name }}" class="vTextField"-->
<!--                           maxlength="50" required id="id_category_name">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-row field-description">-->
<!--                <div>-->
<!--                    <label for="id_description">Описание:</label>-->
<!--                    <input type="text" name="description" class="vTextField" value="{{category.description}}"-->
<!--                           maxlength="200" id="id_description">-->
<!--                </div>-->
<!--            </div>-->
<!--        </fieldset>-->

<!--            <input type="submit" value="Сохранить" class="default" name="_save">-->

<!--    </div>-->
<!--</form>-->
<!--{% endblock content %}-->